{% extends 'base.html' %}
{% load static %}

{% block title %}
    Work
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
{% endblock %}

{% block site_content %}
    <h1 class="category_name">{{ category_name }}</h1>

    <div class="display-container">
        {% if photos %}
            {% for photo in photos %}
                <div class="image">
                    <img src="{% url 'public file' photo.watermarked_photo.url %}" alt="{{ photo.name }}">

                    <ul class="navbar">
                        <li class="navbar-brand"><h3>{{ photo.name }}</h3></li>
                        <li><p class="price">{{ photo.price }}$</p></li>

                        {% if user.groups.all.0.name == 'Creator' %}
                            <li><a href="{% url 'edit-photo' photo.id %}"><i class="fas fa-edit"
                                                                             style="font-size:25px; color:purple; cursor: pointer;"></i></a>
                            </li>

                            <li><a href="{% url 'delete-photo' photo.id %}"><i class="fas fa-trash-alt"
                                                                               style="font-size:25px; color:red; cursor: pointer;"></i></a>
                            </li>

                            <li><i class="fas fa-heart"
                                   style="font-size:30px; cursor: pointer;"></i> {{ photo.wishes_set.count }}</li>
                        {% else %}
                            <li>
                                {% if photo.is_wished %}
                                    <a href="{% url 'wish' photo.id %}">
                                        <i class="fas fa-heart" style="font-size:30px; cursor: pointer;"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'wish' photo.id %}">
                                        <i class="far fa-heart" style="font-size:30px; cursor: pointer;"></i>
                                    </a>
                                {% endif %}
                            </li>


                            <li><a href="#"><i class="fas fa-cart-plus"
                                               style="font-size:30px; cursor: pointer;"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}

        {% else %}
            <h1>This category is EMPTY</h1>
        {% endif %}
    </div>

{% endblock %}

{#{% block jquery %}#}
{#    <script>#}
{#        function wish(photo) {#}
{#            if (photo) {#}
{#                $.ajax({#}
{#                    url: "{% url 'photos' %}",#}
{#                    data: {#}
{#                        'photo': photo#}
{#                    },#}
{#                    dataType: 'json',#}
{#                })#}
{#            }#}
{#        }#}
{#    </script>#}
{#{% endblock %}#}