{% extends 'base.html' %}
{% load static %}

{% block title %}
    Work
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
{% endblock %}

{% block site_content %}

    <div class="display-container">
        <div class="image">
            <img src="{% static 'images/contrast.jpg' %}" alt="contrast photo">

            <div class="text">
                <h3>Still life</h3>
            </div>
        </div>

        <div class="image">
            <img src="{% static 'images/dandelion.jpg' %}" alt="dandelion photo">

            <div class="text">
                <h3>Still life</h3>
            </div>


        </div>


        <div class="image">
            <img src="{% static 'images/growth.jpg' %}" alt="growth photo">

            <div class="text">
                <h3>Still life</h3>
            </div>
        </div>


        <div class="image">
            <img src="{% static 'images/reflections.jpg' %}" alt="reflections photo">

            <div class="text">
                <h3>Still life</h3>
            </div>
        </div>


        <div class="image">
            <img src="{% static 'images/relax.jpg' %}" alt="relax photo">

            <div class="text">
                <h3>Still life</h3>
            </div>
        </div>

        {% for photo in photos %}
            <div class="image">
                {#    TODO: Implement the watermarked_photo creation and change it in the img    #}

                <img src="{% url 'public file' photo.watermarked_photo.url %}" alt="{{ photo.name }}">

                <div class="text">
                    <h3>{{ photo.category }}</h3>
                </div>

                <a href="{% url 'edit-photo' photo.id %}">Edit</a>
                <a href="{% url 'delete-photo' photo.id %}">Delete</a>
            </div>
        {% endfor %}

    </div>
{% endblock %}