{% extends 'base.html' %}
{% load static %}

{% block title %}
    Work
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/work.css' %}">
{% endblock %}

{% block site_content %}
    <div class="display-container">
        {% for category in categories %}
            <div class="category">

                <a class="category-link" href="{% url 'category photos' category.category category.id %}">
                    <div class="image">
                        <img src="{% url 'public file' category.image.url %}" alt="{{ category.category }}">
                        <div class="filter"></div>
                        <h3>{{ category.category }}</h3>
                    </div>
                </a>
                {% if user.groups.all.0.name == 'Creator' %}
                    <a href="{% url 'edit-category' category.id %}" id="edit-category"><i class="fas fa-edit"
                                                                                          style="font-size:25px; color:purple; cursor: pointer;"></i></a>
                    <a href="{% url 'delete-category' category.id %}" id="delete-category"><i class="fas fa-trash-alt"
                                                                                              style="font-size:25px; color:red; cursor: pointer;"></i></a>
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}