{% extends 'base.html' %}
{% load static %}

{% block title %}
    Photos
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/photos.css' %}">
{% endblock %}

{% block site_content %}
    <h1 class="category_name">{{ category_name }}</h1>

    <div class="display-container">
        {% if photos %}
            {% for photo in photos %}
                <div class="image">
                    <img src="{% url 'public file' photo.watermarked_photo.url %}" alt="{{ photo.name }}">

                    <ul class="navbar">
                        <li class="navbar-brand"><h3>{{ photo.name }}</h3></li>
                        <li><p class="price">{{ photo.price }}$</p></li>

                        {% if user.groups.all.0.name == 'Creator' %}
                            <li><a href="{% url 'edit-photo' photo.id %}"><i class="fas fa-edit"
                                                                             style="font-size:25px; color:purple; cursor: pointer;"></i></a>
                            </li>

                            <li><a href="{% url 'delete-photo' photo.id %}"><i class="fas fa-trash-alt"
                                                                               style="font-size:25px; color:red; cursor: pointer;"></i></a>
                            </li>

                            <li><i class="fas fa-heart"
                                   style="font-size:30px; cursor: pointer;"></i> {{ photo.wishes_set.count }}</li>
                        {% else %}
                            <li>
                                <a href="{% url 'wish' photo.id %}">
                                    {% if photo.is_wished %}
                                        <i class="fas fa-heart" style="font-size:30px; cursor: pointer;"></i>
                                    {% else %}
                                        <i class="far fa-heart" style="font-size:30px; cursor: pointer;"></i>
                                    {% endif %}
                                </a>
                            </li>


                            <li>
                                <a href="{% url 'add to cart' photo.id %}">
                                    {% if photo.is_added_to_cart %}
                                        <i class="fas fa-shopping-cart" style="font-size:30px; cursor: pointer;"></i>
                                    {% else %}
                                        <i class="fas fa-cart-plus" style="font-size:30px; cursor: pointer;"></i>
                                    {% endif %}
                                </a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            {% endfor %}

        {% else %}
            <h1>This category is EMPTY</h1>
        {% endif %}
    </div>

{% endblock %}
