img {
    height: 450px;
    width: inherit;
}

.first-row, .second-row{
    display: flex;
    text-align: center;
}

.first-row h3 {
    padding-left: 20px;

}

h3{
    font-family: Poppins, serif;
    font-weight: 900;
    font-size: 25px;
}