.navbar {
    padding: 30px 50px 0 50px;
}

ul {
    display: flex;
    text-align: right;
    position: center;
}

li {
    padding-left: 15px;
}

a {
    color: black;
    font-size: 20px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

nav a {
    cursor: pointer;
}

nav a:hover {
    opacity: 70%;
}

#logo {
    padding: 0;
    margin: 0;
    opacity: 100%;
    cursor: pointer;
    outline: none;
}

.pages { padding-left: 25px; }

.pages, .authentication { padding-bottom: 10px }
