{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
    Add Category
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/auth/edit_profile.css' %}">
{% endblock %}

{% block site_content %}
    <div class="container">
        <i class="fas fa-folder-plus" style="font-size: 200px;"></i>

        <form action="{% url 'add-category' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                {% bootstrap_field field %}
            {% endfor %}

            <div class="button">
                <button class="btn primary">Add Category</button>
            </div>
        </form>
    </div>
{% endblock %}
