{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Form-Template
        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base/clear.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth/auth-base.css' %}">

    {% block styles %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

    {% block scripts %}
    {% endblock %}

</head>
<body>

<div class="background">

    <div class="container">

        <input type="image" alt="logo" id="picture" src="{% static 'images/website-logo.png' %}" disabled>

        <div class="spacer">

            <div class="form">

                {% block form %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>