{% extends 'auth/auth-base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/auth/register.css' %}">
{% endblock %}

{% block form %}
    <h1>Register</h1>

    <form action="{% url 'register user' %}" method=POST enctype="multipart/form-data">
        <input type="hidden" name="return_url" value="{{ request.GET.next }}">
        {% csrf_token %}

        {% for field in user_form %}
            {% bootstrap_field field %}
        {% endfor %}

        <div class="buttons">
            <button class="btn primary">Register</button>
            <p style="padding-top: 15px;">or</p>
            <a href="{% url 'login user' %}?next={{ request.GET.next }}" class="secondary"
               style="text-decoration: underline;">Already have an account</a>
        </div>

    </form>
{% endblock %}