{% extends 'base.html' %}
{% load static %}

{% block title %}Add Photo{% endblock %}

{% block styles %}
{% endblock %}

{% block site_content %}
    <form action="{% url 'add-photo' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="original_photo">{{ form.original_photo.label }}</label>
        {{ form.original_photo }}

        <label for="name">{{ form.name.label }}</label>
        {{ form.name }}

        <label for="category">{{ form.category.label }}</label>
        {{ form.category }}

        <label for="price">{{ form.price.label }}</label>
        {{ form.price }}

        <button>Add</button>
    </form>

    <script src="{% static 'js/category.js' %}"></script>

{% endblock %}