{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Category
{% endblock %}

{% block site_content %}
<div class="popup-background">
    <div class="popup-window">
        <div class="close" style="cursor: pointer;">
            <i class="far fa-times-circle" style="font-size: 40px;"></i>
        </div>

        <form action="{% url 'add-category' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="image">{{ form.image.label }}</label>
            {{ form.image }}
            <label for="category">{{ form.category.label }}</label>
            {{ form.category }}
            <button>Add</button>
        </form>
    </div>
</div>
{% endblock %}
